<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- TODO FILL IN POST FEED -->
      </div>
      <div class="col-md-4">
        <%= render 'shared/post_form' %>
      </div>
    </div>
  </div>