// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// ==============================
//    GENERAL CSS
// ==============================

// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto);

// Color Palette
$primary-color-dark:  #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

body {
  padding-top: 51px;
  padding-bottom: 80px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

// ==============================
//    NAVIGATION CSS
// ==============================

.navbar-blue-grey {
  @extend .navbar;
  background-color: $primary-color-dark;
  a {
    color: $primary-color-text;
    text-decoration: none;
  }
}

span.icon-bar {
  background-color: #fff;
}

.navbar-brand {
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: $accent-color;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $accent-color;
  border-color: $accent-color;
}

.dropdown-menu {
  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: $divider-color;
  }
}
