// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// ==============================
//    GENERAL CSS
// ==============================

// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto);

// Color Palette
$primary-color-dark:  #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

img {
  @extend .img-responsive;
  margin: 0 auto;
}

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

// ==============================
//    NAVIGATION CSS
// ==============================

.navbar-blue-grey {
  @extend .navbar;
  background-color: $primary-color-dark;
}

span.icon-bar {
  background-color: #fff;
}

.navbar-brand {
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
  color: $primary-color-text;
  &:hover {
    color: $primary-color-text;
  }
}
