// ==============================
//      POSTS - SHOW
// ==============================
.post-wrapper {
  background-color: #fff;
  padding-top: 50px;
}

.post {
  .content {
    display: block;
    a {
      text-decoration: none;
    }
  }
  .timestamp {
    margin-top: 5px;
    padding-top: 0;
    @extend .text-muted;
    font-size: 11px;
  }
  .comments {
    display: block;
    font-size: 12px;
    a {
      @extend .text-muted;
      text-decoration: none;
      &:hover {
        font-weight: bold;
      }
    }
    a.upvote {
      &:hover {
        color: blue;
      }
    }
    a.downvote {
      &:hover {
        color: red;
      }
    }
  }
}

.comments-wrapper {
  background-color: #fff;
}