// ==============================
//      POSTS - SHOW
// ==============================
.post-wrapper {
  background-color: #fff;
  padding-top: 50px;
}

.post {
  .content {
    display: block;
    a {
      text-decoration: none;
      font-size: 18px;
    }
  }
  .timestamp {
    margin-top: 5px;
    padding-top: 0;
    @extend .text-muted;
    font-size: 12px;
  }
  .comments {
    display: block;
    font-size: 14px;
    a {
      @extend .text-muted;
      text-decoration: none;
      &:hover {
        font-weight: bold;
      }
    }
    a.upvote {
      &:hover {
        color: blue;
      }
    }
    a.downvote {
      &:hover {
        color: red;
      }
    }
  }
  hr {
    margin: 10px 0 0 0;
  }
}

.comments-wrapper {
  background-color: #fff;
}

.comment-count {
  @extend .text-muted;
  font-size: 12px;
}

.comment {
  margin: 5px 0;
  .comment-body {
    display: block;
    margin-bottom: 2px;
  }
  .timestamp {
    margin-top: 5px;
    padding-top: 0;
    @extend .text-muted;
    font-size: 11px;
  }
  .comment-voting {
    display: block;
    font-size: 11px;
    a {
      @extend .text-muted;
      text-decoration: none;
    }
    a.upvote {
      &:hover {
        color: blue;
      }
    }
    a.downvote {
      &:hover {
        color: red;
      }
    }
  }
  hr {
    margin: 5px 0;
  }
}