// ==============================
//          GLOBAL
// ==============================
.panel-signup {
  @extend .panel-default;
  border-color: $primary-color;
}

.panel-signup > .panel-heading {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.panel-signup > .panel-footer {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  border-top: none;
}

// ==============================
//          USER SIGNUP
// ==============================
.user-signup-wrapper {
  background-color: #fff;
  margin-top: 51px;
}