<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>Created by Ronald Chacon | <a href="http://ronaldchacon.com">ronaldchacon.com</a></p>
    </div>
  </div>
</div>